<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="~/lib/dist/semantic.css">
  <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">


  <script src="~/lib/jquery/jquery.js"></script>
  <script src="~/lib/dist/semantic.js"></script>

  <title>Blog</title>
</head>
<body>
  <div class="ui grid">
    <div class="two wide column"></div>

    <div class="twelve wide column">
      <div class="main"></div>
    </div>

    <div class="two wide column"></div>
  </div>

  <script src="~/vueapp/dist/main.js"></script>
</body>
</html>
