<template>
  <div class="ui centered grid">
    <div class="twelve wide column">
      <post v-for="post in posts"></post>
    </div>
  </div>
</template>

<script>
import Post from './Post.vue'

export default {
  props: ['posts'],

  components: {
    'post': Post
  }
}
</script>
