<template>
  <div class="ui segment">
    <div class="ui grid">
      <div class="row">
        <p>
          Date: 123123123
        <br />
          Time to read
        </p>
      </div>
      <div class="row">
        <img class="preview image" src="/vueapp/assets/pug.jpg">
      </div>
      <div class="row">
        <div class="post title">Title</div>
      </div>
      <div class="row post preview">
        Preview text
      </div>
        Comments
    </div>
  </div>
</template>

<script>
  export default {

    data () {
      return {
        title: '',
        body: ''
      }
    }
  }
</script>

<style scoped>
.post.preview {
  font-size: 1.5em;
}

.post.title {
  font-size: 3em;
}

.preview.image {
  height: 15em;
  width: 100%;
}

.ui.segment {
  padding: 2em;
}
</style>
