<template>
  <div class="ui form">
    <div class="ui field">
      <input v-model="newPost.title" placeholder="New post title...">
      <div id="editor"></div>
    </div>
    <div class="ui buttons">
      <button class="ui basic right floated button" @click="savePost">Save As</button>
      <button class="ui basic right floated button" @click="quillGetHtml">Post Quill</button>
    </div>
  </div>
</template>

<script>
  import Quill from 'quill'

  export default {
    props: ['post'],

    created () {
      const self = this;
      // $.ajax({
      //   type: 'GET',
      //   url: 'Post/Get/2',
      //   success: function(result) {
      //     console.log("Result : " ,result);
      //     self.newPost = result;
      //     console.log(self.newPost.content);
      //     self.quill.setContents(JSON.parse(self.newPost.content));
      //   }
      // })
    },

    data () {
      return {
        quill: null,
        newPost: ''
      }
    },

    methods: {
      quillGetHtml() {
        console.log(this.quill.root.innerHTML);
      },

      savePost () {
        const self = this;
        $.ajax({
          type: 'POST',
          url: 'Post/Update',
          data: {
            Post: {
              Title: self.post.Title,
              Content: JSON.stringify(self.quill.getContents())
             }
          },
          success: function(result) {
            console.log(result);
          }
        })
      }
    },

    mounted () {
      const editor = new Quill('#editor', {
        theme: 'snow'
      });
      this.quill = editor;
      //editor.setContents(JSON.parse(this.newPost.content));

    }
  }
</script>
