<template>
  <div>
    <button class="ui basic button" @click="redirectToNewPostForm">New Post</button>
    <br />
    <br />
    <index :posts="posts"></index>
  </div>
</template>

<script>
  import PostForm     from './components/PostForm.vue'
  import Index        from './components/Index.vue'

  export default {
    components: {
      'post-form': PostForm,
      'index': Index
    },

    created () {
      // const self = this;
      // $.ajax({
      //   type: 'GET',
      //   url: 'Post/Get/2',
      //   success: function(result) {
      //     self.newPost = result;
      //   }
      // })
    },

    data () {
      return {
        posts: [],
        newPost: '',
        posts: [{ }, { }, { }, { }, { }]
      }
    },

    methods: {
      redirectToNewPostForm () {
        window.location.href = "/Post/New"
      }
    }
  }
</script>
