<template>
  <div>
    <post-form :post="newPost"></post-form>
  </div>
</template>

<script>
import PostForm     from './components/PostForm.vue'

export default {

  data () {
    return {
      newPost: {
        title: '',
        content: ''
      }
    }
  },

  components: {
    'post-form': PostForm
  }

}
</script>
